@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  font-family: "Playfair", serif;
}
body{
    background:black;
}
.quotebox{
    background:linear-gradient(to right, #d11696, #6259e2);
     width: 700px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 40px;
     border-radius: 10px;
     text-align: center;
     box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15); 
}

.quotebox h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quotebox h2::after{
    content:'';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(98, 36, 156);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}
.quotebox blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quotebox blockquote::before, .quotebox blockquote::after{
    content: '' ;
}
.quotebox span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quotebox span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(98, 36, 156);
    position: absolute;
    top: 50%;
    left: -30px;
}
.quotebox div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quotebox button {
    background: rgb(98, 36, 156);
    color: blanchedalmond;
    border-radius: 25px;
    border: 1px solid rgb(98, 36, 156);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.quotebox button:hover{
    background-color: #0d57ce;
    color: blanchedalmond;
}

.quotebox button img {
    width: 20px;
    margin-right: 10px;
}

/* Second button specific styles */
.quotebox button:nth-child(2) {
    background: transparent;
    color: #333;
}
.quotebox button:nth-child(2):hover {
    background-color: #0d57ce;
    color: blanchedalmond;
}

/*

@media(width:600px) {
    div{
        background-color: #0370dd;
    }
}
@media(min-width:600px) {
    div{
        background-color: rgb(202, 12, 145);
    }
}
@media(min-width:200px) and (max-width:300px) {
    div{
        background-color: #1004b9;
    }
}
    */
